*
!README.md
!LICENSE
!transcreen_app_icon_simple.png
!transcreen_menubar_icon.png
!TranScreen.xcodeproj
!TranScreen.xcodeproj/**
!TranScreen
!TranScreen/**
!.gitignore
TranScreen.xcodeproj/xcuserdata/
TranScreen.xcodeproj/project.xcworkspace/xcuserdata/
